<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirmation de Rendez-vous</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/confirmation.css" />
    <link rel="icon" type="image/x-icon" href="/imgs/N2E.png" />
  </head>
  <body>

    <div class="content-container">

        <div class="content">
            <header>
                <h1>Votre <span class="dark-blue">Rendez-vous</span> a été Confirmé !</h1>
              </header>
          
              <main>
                <section>
                  <p>Merci d'avoir réservé un rendez-vous avec notre comptable agréé !</p>
                  <p>
                    Nous avons bien reçu votre demande de rendez-vous. Vous recevrez un
                    e-mail de confirmation contenant les détails de votre rendez-vous très
                    bientôt.
                  </p>
                  <p>
                    En attendant, si vous avez des questions supplémentaires ou souhaitez
                    modifier votre rendez-vous, n'hésitez pas à nous contacter.
                  </p>
                </section>
    
                <button class="blue-btn" onclick="window.location.href='/dashboard'">Aller au tableau de bord</button>
    
        </div>
    </div>

    </main>
  </body>
</html>
